/* studentPage.module.css */


.Table{
    width: 100%;
}
.tableHeader {
    position: relative;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;


    height: auto;
    width: auto;
    white-space: nowrap; /* Предотвращает перенос текста */
    overflow: hidden; /* Прячет текст, выходящий за пределы */
    text-overflow: ellipsis; /* Добавляет многоточие, если текст обрезан */

    background-color: #f2f2f2;
    color: rgb(43,43,43);
}
.Phone{
    width: 10%;
}
.ID{
    width: 2%;
}
.FIO{
    width: 15%;
}