/* src/assets/styles/global.css */

/* Сброс стилей браузера */
* {
    margin: 0;
    padding: 0;
}

/* Общие стили для HTML и body */
html, body {
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: rgb(43, 43, 43);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

/* Стили для форм */
form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(27, 27, 27);
}

/* Стили для input полей */
input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: rgb(27, 27, 27);
    color: white; /* Предполагаем, что текст должен быть белым */
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Стили для кнопок */
.formBtn {
    padding: 10px;
    font-size: 16px;
    background-color: #991515;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.formBtn:hover {
    background-color: #cf3737;
}

/* Контейнер для пароля */
.password-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.password-container button {
    right: 10px;
    height: 40px;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 14px;
    width: 80px; /* Задаём фиксированную ширину */
    text-align: center; /* Выравнивание текста по центру */
    padding: 5px; /* Отступы внутри кнопки */
    white-space: nowrap; /* Запрещаем перенос текста */
}

/* Дополнительные стили для кнопки показа/скрытия пароля */
.toggle-password {
    margin-left: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.toggle-password:hover {
    background-color: #45a049;
}
